.product {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.image {
  width: 50%;
}
.content {
  width: 40%;
  h1 {
	padding: 2rem 0;
	font-size: 3rem;
	text-transform: uppercase;
  }
}
.price {
  padding: 2rem;
}
.description {
  padding: 2rem;
}
.stock {
  padding: 2rem;
}
.footer {
  padding-left: 2rem;
}