:root {
    --accent: #333;
    --yellow: #ffd666;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

* {
    outline: none;
}

body {
    position: relative;
    margin: 0;
    font-size: 1.8rem;
    color: #58595e;
    background: white;
    transition: all 1.2s;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    width: 1px;
    height: 100%;
    background-color: green;
    z-index: 10000;
}

body.error404, body.privacy-policy {
    padding-top: 3rem;
}

body.error404 .main-header, body.privacy-policy .main-header {
    background-color: #022b3a;
}

body.error404 .main-header .container, body.privacy-policy .main-header .container {
    border: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    p {
        font-size: 2.2rem;
    }
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1618px;
}

@media screen and (max-width: 1700px) {
    .container {
        width: 100%;
    }
}

.container__big {
    margin: 0 auto;
    max-width: 1660px;
    padding: 0 2rem;
}

input[type="submit"]:disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

@media screen and (max-width: 400px) {
    .img-responsive.img--desktop {
        display: none !important;
    }
}

.img-responsive.img--mobile {
    display: none !important;
}

@media screen and (max-width: 400px) {
    .img-responsive.img--mobile {
        display: block !important;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

main {
    min-height: 95vh;
    padding: 5rem 0;
}

.title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: initial;
    margin-bottom: initial;
    color: initial;
    font-weight: initial
}